/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* En-tête principal */
.main-header {
    background-color: #F58233;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
   
}

.nav-bar ul {
    list-style: none;
    display: flex;
}

.nav-bar ul li {
    margin: 0 20px;
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-bar ul li a:hover {
    text-decoration: underline;
}

/* Section héroïque */
.hero-section,.image {
    background-image: url('https://via.placeholder.com/1500x500');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
    background-image: url(freepik__upload__13534.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color:#ffffff ;
}

.btn-primary {
    background-color: #F58233; 
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #F58233; 
}

/* Section À propos */
.about-section {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
    opacity: 50%;
    
}

.about-section h3 {
    font-size: 2em;
    margin-bottom: 15px;
}

.about-section p {
    font-size: 1.1em;
    max-width: 800px;
    margin: 0 auto;
}

/* Section Services */
.services-section {
    padding: 50px 20px;
    text-align: center;
    background-image: url(freepik__upload__13534.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.services-section h3 {
    font-size: 2em;
    margin-bottom: 30px;
    color: white;
}

.service-card {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    width: calc(45% - 40px);
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 1em;
}
 .LEMS-typo {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
  
}
 
/* Section Projets */
.projects-section {
    padding: 50px 20px;
    background-color: #F58233;
    text-align: center;
}

.projects-section-about {
    padding: 50px 20px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}

.projects-section h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Pied de page */
.main-footer {
    background-color: #71D0A6;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.main-footer a {
    color: #F58233;
    text-decoration: none;
}

.main-footer a:hover {
    text-decoration: underline;
}

.white {
    color: #ffffff;
}

#ananas, #gingembre {
    width: 340px;
    border-radius: 5%;
}

.price {
    width: 200px;
    border-radius: 5%;
}

.div-price {
    vertical-align: middle;
    display: flex;
    justify-content: space-around;
    padding: 0 30px 10px 30px;
}

.contact {
    width: auto;
    background-color: #ffffff;
    padding: 100px;
    display: flex;
    margin: 3rem 20rem;
    border-radius: 90%;
}

#contact-image {
    padding: 50px 20px;
    text-align: center;
    background-image: url(freepik__upload__13534.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.texte-contact {
  margin: auto;
}

#vente1, #vente2 {
  padding-right: auto;
}

/* barre reseau sociaux */
.social-login-icons {
    margin: auto;
    text-align: center;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
  }
  .social-login-icons svg {
    width: 40px;
  }
  
  .social-icon-1,
  .social-icon-1-1,
  .social-icon-2,
  .social-icon-2-2,
  .social-icon-3,
  .social-icon-3-3,
  .social-icon-4,
  .social-icon-4-4 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 20px 0 0px 0;
  }
  
  .icon svg {
    fill: #111;
  }
  
  .socialcontainer {
    height: 80px;
    overflow: hidden;
  }
  .social-icon-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0);
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  }
  .social-icon-1 svg,
  .social-icon-2 svg,
  .social-icon-3 svg,
  .social-icon-4 svg {
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .social-icon-1-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0, 0);
  }
  .socialcontainer:hover .social-icon-1 {
    transform: translateY(-70px);
  }
  .socialcontainer:hover .social-icon-1 svg,
  .socialcontainer:hover .social-icon-2 svg,
  .socialcontainer:hover .social-icon-3 svg,
  .socialcontainer:hover .social-icon-4 svg {
    opacity: 1;
  }
  .social-icon-2 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: linear-gradient(
      72.44deg,
      #ff7a00 11.92%,
      #ff0169 51.56%,
      #d300c5 85.69%
    );
  }
  .socialcontainer:hover .social-icon-2 {
    transform: translateY(-70px);
  }
  .social-icon-3 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: #316ff6;
  }
  
  .socialcontainer:hover .social-icon-3 {
    transform: translateY(-70px);
  }
  .social-icon-4 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  
    background: linear-gradient(
      180deg,
      rgba(129, 34, 144, 1) 0%,
      rgba(77, 34, 124, 1) 91%
    );
  }
  
  .socialcontainer:hover .social-icon-4 {
    transform: translateY(-70px);
  }